@page "/"
@using SamarPlanner.Web.Services
@inject  IToastService ToastService
@inject Blazored.Toast.Services.IToastService t

<div class="index-page">
    <div class="hero-icon">
        <i class="bi bi-calendar2-week"></i>
    </div>
    <h1>به SamarPlanner خوش آمدید</h1>
    <p class="subtitle">برنامه‌ریزی روزانه‌تان را آسان کنید</p>
    <a href="/tasks/daily" class="btn btn-login">
        <i class="bi bi-box-arrow-in-right"></i>
        شروع کنید
    </a>
</div>