@using Microsoft.AspNetCore.Components.Authorization
@using SamarPlanner.Web.Shared.Components
@inject NavigationManager NavigationManager
@inject BackNavigationService BackNavigationService

@code {
    protected override void OnInitialized()
    {
        BackNavigationService.Initialize(NavigationManager);
    }
}

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <LoggingErrorBoundary>
            <ChildContent>
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @{
                            var returnUrl = NavigationManager.Uri;
                            NavigationManager.NavigateTo($"/login?returnUrl={Uri.EscapeDataString(returnUrl)}");
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </ChildContent>
            <ErrorContent Context="exception">
                <p class="error-message">مشکلی پیش اومد! لطفاً صفحه رو رفرش کنید.</p>
            </ErrorContent>
        </LoggingErrorBoundary>
    </Found>
    <NotFound>
        <RouteView RouteData="@(new RouteData(typeof(NotFound), new Dictionary<string, object>()!))" />
    </NotFound>
</Router>