@namespace SamarPlanner.Web.Pages
@page "/not-found"
@layout MainLayout

<div class="not-found-page">
    <div class="nf-icon">
        <i class="bi bi-search"></i>
    </div>
    <h3>صفحه پیدا نشد</h3>
    <p>متأسفانه صفحه‌ای که دنبالش هستید وجود ندارد.</p>
    <a href="/" class="btn-primary">
        <i class="bi bi-house-door"></i>
        بازگشت به خانه
    </a>
</div>