@* @page "/tasks" *@
@* @using SamarPlanner.Web.Services *@
@* @inject IApiClient ApiClient *@
@* *@
@* <h3>Tasks</h3> *@
@* *@
@* @if (_tasks == null) *@
@* { *@
@*     <p>در حال بارگذاری...</p> *@
@* } *@
@* else *@
@* { *@
@*     <ul> *@
@*         @foreach (var task in _tasks.Tasks) *@
@*         { *@
@*             <li>@task.Title</li> *@
@*             <ul> *@
@*                 @foreach (var occurrence in task.Occurrences) *@
@*                 { *@
@*                     <li>@occurrence.Date.ToString("g") - @occurrence.Time.ToString())</li> *@
@*                 } *@
@*             </ul> *@
@*         } *@
@*     </ul> *@
@* } *@
@* *@
@* @code { *@
@*     private GetTaskWithOccurrencesQueryResult? _tasks = null; *@
@* *@
@*     protected override async Task OnInitializedAsync() *@
@*     { *@
@*         try *@
@*         { *@
@*             var from = DateTimeOffset.Now.AddDays(-7); *@
@*             var to = DateTimeOffset.Now; *@
@*             var result = await ApiClient.GetTasksWithOccurrencesAsync(from, to); *@
@*             if(result.IsSuccess) *@
@*             _tasks = result.Response; *@
@*             else *@
@*             { *@
@*                 foreach (var resultError in result.Errors) *@
@*                 { *@
@*                     Console.WriteLine(resultError); *@
@*                 } *@
@*             } *@
@*         } *@
@*         catch (ApiException ex) *@
@*         { *@
@*             // نمایش پیام خطا به کاربر *@
@*             Console.WriteLine($"خطای سرور: {ex.Message}"); *@
@*         } *@
@*         catch (Exception ex) *@
@*         { *@
@*             Console.WriteLine($"خطا: {ex.Message}"); *@
@*         } *@
@*     } *@
@* *@
@* } *@